/* =====================================
RESET
===================================== */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#f8f6f1;
color:#333;
overflow-x:hidden;
}

/* =====================================
INTRO SCREEN
===================================== */

#intro{
position:fixed;
inset:0;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
background:#d7c7f9;
z-index:9999;
}

.envelope-container{
text-align:center;
}

.envelope{
width:440px;
height:300px;
position:relative;
cursor:pointer;
}

.envelope-body{
width:100%;
height:100%;
background:url("envelope1.png") center/cover no-repeat;
border-radius:12px;
}

.seal{
position:absolute;
width:100px;
height:100px;
border-radius:50%;
background:#d4af37;
color:#fff;
display:flex;
justify-content:center;
align-items:center;
font-size:32px;
left:50%;
top:50%;
transform:translate(-50%,-50%);
}

.tap-text{
margin-top:30px;
color:#fff;
font-size:20px;
}

/* =====================================
MAIN CONTENT
===================================== */

#main-content{
display:none;
}

/* =====================================
HERO SECTION
===================================== */

.hero{
min-height:100vh;
background:url("bg3.png") center/cover no-repeat;
display:flex;
flex-direction:column;
align-items:center;
text-align:center;
padding:120px 20px 60px;
position:relative;
}

.top-layer{
position:absolute;
top:0;
left:0;
width:100%;
max-width:100%;
pointer-events:none;
}

.hero-content{
max-width:900px;
z-index:2;
}

.hero h4{
color:#762edc;
letter-spacing:3px;
margin: 120px 0 0 0;
}

.hero h1{
font-family:'Cinzel',serif;
font-size:clamp(2.8rem,8vw,5rem);
color:#5e17eb;
margin-bottom:20px;
}

.hero span{
color:red;
}

.quote{
max-width:700px;
margin:auto;
font-size:18px;
line-height:1.8;
}

.btn{
display:inline-block;
margin-top:30px;
padding:14px 34px;
background:#5e17eb;
color:#fff;
text-decoration:none;
border-radius:40px;
font-weight:600;
}

.btn:hover{
opacity:.9;
}

/* =====================================
SAVE THE DATE
===================================== */

.save-date{
width:100%;
margin-top:60px;
text-align:center;
}

.hero-image{
width:100%;
max-width:400px;
display:block;
margin:0 auto 30px;
}

.save-date h2{
color:#5e17eb;
margin-bottom:25px;
}

.date-card{
background:#fff;
max-width:500px;
margin:auto;
padding:30px;
border-radius:20px;
border:2px solid #762edc;
}

.date-card h3{
color:#5e17eb;
margin-top:15px;
}

/* =====================================
COUNTDOWN
===================================== */

.countdown{
margin-top:50px;
}

.timer{
display:flex;
justify-content:start;
flex-wrap:wrap;
gap:15px;
}

.timer div{
background:#fff;
width:110px;
padding:20px;
border-radius:18px;
border:2px solid #762edc;
}

.timer span{
font-size:2rem;
color:#5e17eb;
font-weight:bold;
}
.timer p{
    font-size: 12px;
}

/* =====================================
COMMON SECTION
===================================== */

section{
padding:80px 20px;
text-align:center;
}

section h2{
font-family:'Cinzel',serif;
color:#5e17eb;
margin-bottom:40px;
font-size:2.5rem;
}

/* =====================================
COUPLE SECTION
===================================== */
couple section{
    flex-direction:down ;
}
.couple{
background:#d7c7f9;
}

.couple-box{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
}

.person{
background:#fff;
padding:30px;
width:420px;
border-radius:20px;
}

.heart{
font-size:80px;
color:red;
}

/* EVENT CARD */

events{
    background-color: #d7c7f9;
}

.events{
    background-color: #d7c7f9;
}

.event-card{
    max-width:900px;
    height:450px;

    margin:40px auto;

    background:url("reception1.jpg");
    background-size:cover;
    background-position:center;

    border-radius:25px;
    overflow:hidden;

    display:flex;
    align-items:flex-end;

    box-shadow:0 10px 25px rgba(0,0,0,0.15);
}

.wedding{
    background:url("marriage1.jpg");
    background-size:cover;
    background-position:center;
}

/* BOTTOM WHITE BAR */

.event-details{
    width:100%;

    background:#ffffff;

    padding:10px 10px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

/* LEFT SIDE */

.event-details h3{
    font-size:26px;
    color:#762edc;
    margin:0;
}

/* RIGHT SIDE */

.event-right{
    text-align:right;
}

.event-right p{
    margin:5px 0;
    font-size:20px;
    color:#333;
}

/* MOBILE */

@media(max-width:768px){

    .event-card{
        height:320px;
    }

    .event-details{
        flex-direction:column;
        text-align:center;
        gap:10px;
    }

    .event-right{
        text-align:center;
    }

    .event-details h3{
        font-size:20px;
        margin-bottom: -5px;
    }

    .event-right p{
        font-size:16px;
    }

}


/* =====================================
   VENUE SECTION
===================================== */

.venue{
    background:#f8f2ff;
    padding:80px 20px;
}

.venue-container{
    max-width:1200px;
    margin:0 auto;

    display:flex;
    justify-content:center;
    align-items:stretch;

    gap:30px;
    flex-wrap:wrap;
}

/* Venue Details Card */

.venue-card{
    flex:1;
    min-width:350px;
    max-width:550px;

    background:#fff;

    padding:35px;

    border-radius:20px;

    border:2px solid #762edc;

    display:flex;
    flex-direction:column;
    justify-content:center;

    text-align:center;
}

/* Map Card */

.map-card{
    flex:1;
    min-width:350px;
    max-width:550px;

    height:500px;

    border-radius:20px;
    overflow:hidden;

    border:2px solid #762edc;

    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}

.map-card iframe{
    width:100%;
    height:100%;
    border:none;
    display:block;
}

/* MOBILE */

@media (max-width:768px){

    .venue-container{
        flex-direction:column;
        align-items:center;
    }

    .venue-card,
    .map-card{
        width:100%;
        max-width:500px;
    }

    .map-card{
        height:350px;
    }
}

/* =====================================
FRIENDS SECTION
===================================== */

.friends{
background:#d7c7f9;
}

.friends p{
max-width:800px;
margin:auto;
line-height:1.8;
}

/* =====================================
FOOTER
===================================== */

footer{
background:#5e17eb;
color:#fff;
text-align:center;
padding:60px 20px;
}

footer h2{
color:#fff;
margin-bottom:15px;
}

/* =====================================
MOBILE
===================================== */

@media(max-width:768px){

```
.envelope{
    width:280px;
    height:190px;
}

.hero{
    padding-top:80px;
}

.hero h4{
    margin-top:80px;
    font-size:13px;
}

.hero h1{
    font-size:2.5rem;
}

.quote{
    font-size:15px;
}

.hero-image{
    max-width:280px;
}

.timer div{
    width:80px;
    padding:15px;
}

.person{
    width:100%;
    max-width:320px;
}

.event-card1,
.event-card2{
    height:250px;
}

.venue-container{
    flex-direction:column;
}

.map-card{
    height:300px;
}

section h2{
    font-size:2rem;
}

}
